@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #91C27D;
    --color-secondary: #6498C2;
    --color-tertiary: #D44E4E;
    --color-grey: #E2E2E2;
}

html {
    box-sizing: inherit;
    font-size: 66.7%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: black;
    max-width: 100vw;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-color: var(--color-tertiary);
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: currentColor;
    font-size: inherit;
    transition: color .15s;
}

a:hover {
    color: #e75555;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 3rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    display: block;
    color: var(--color-tertiary);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.content__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1 0;
}

.content__right {
    position: relative;
    height: 100%;
    flex: 0 1 30%;
    padding: 2rem;
    background-color: var(--color-grey);
    overflow-y: auto;
    overflow-x: hidden;
}

.input__group {
    position: relative;
    text-align: center;
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 4rem auto 0 auto;
}

.input__header {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-tertiary);
    text-transform: uppercase;
    display: block;
    margin-bottom: 1rem;
}

.input {
    display: inline-block;
    padding: 2rem .75rem .75rem .75rem;
    border: none;
    border-bottom: 3px solid var(--color-tertiary);
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--color-tertiary);
    transition: all .15s;
    background-color: transparent;
    z-index: 2;
    cursor: text;
}

.input:focus {
    outline: none;
}

.input__label {
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var( --color-tertiary);
    transition: all .1s;
}

.input:focus + .input__label, .input:valid + .input__label {
    font-size: 1.8rem;
    bottom: 4.5rem;
}

.input__button {
    display: block;
    border: none;
    background-color: var(--color-tertiary);
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 4rem auto 0 auto;
    cursor: pointer;
    transition: all .15s;
}

.input__button:hover{
    background-color: #fa5c5c;
}

.input__button:focus {
    outline: none;
}

.input__button:disabled {
    background-color: grey;
}

.input__button:active {
    transform: translateY(3px);
}

.input__error {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-tertiary);
    transition: all .15s;
    z-index: 10;
}

.numbers__header {
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-tertiary);
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    margin-top: 2rem;
    transition: all .15s;
    opacity: 0;
}

.numbers__element {
    display: inline-block;
    font-size: 2.4rem;
    color: var(--color-tertiary);
    font-weight: 700;
    margin-top: .25rem;
    transition: all .15s;
}

.caption {
    margin-top: 3rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-tertiary);
    font-weight: 700;
}

/*
1200px = 75em
800px = 50em
650px = 40.625em
500px = 31.25em
900px = 56.25em
 */

@media only screen and (max-width: 75em) {
    html {
        font-size: 70%;
    }
}

@media only screen and (max-width: 50em) {
    html {
        font-size: 60%;
    }

    .input__group {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 40.625em) {
    .container {
        position: relative;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .content__right {
        margin-top: 3rem;
        width: 100%;
    }

    .numbers {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: 10rem;
        height: auto;
    }

    .numbers__element {
        flex: 0 0 25%;
        text-align: center;
    }

    .numbers__element:not(:last-child) {
        margin-right: 2rem;
    }
}

@media only screen and (max-height: 56.25em) {
    html {
        font-size: 50%;
    }

    .input__group:not(:first-of-type) {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 31.25em) {
    html {
        font-size: 45%;
    }

    .container {
        width: 90%;
    }

    .input__label {
        font-size: 2.2rem;
    }

    .input__header {
        font-size: 2.4rem;
    }

    .input__error {
        padding: .5rem;
        background-color: white;
        box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);
    }

    .input__group {
        margin-top: 2rem;
    }

    .heading {
        font-size: 2.8rem;
    }
}